body {
 background-image: url("https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
/*background-size: 200rem;
 */
}
