body {
 background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fres.cloudinary.com%2Fjerrick%2Fimage%2Fupload%2Fc_crop%2Cfl_progressive%2Ch_630%2Cq_auto%2Cw_1200%2Faif8pbf9yercanvca358.png&f=1&nofb=1");
  background-repeat: no-repeat;
 background-size: 200rem;
}
